@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Yeon+Sung');

@import url('https://rsms.me/inter/inter-ui.css');

:root {
    background-image: url('/images/background.png');
    background-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6, header {
    font-family: 'Yeon Sung', serif;
    font-weight: normal;
}

.korean {
    font-family: 'Do Hyeon', sans-serif;
}

header {
    line-height: 1.2;
    background: rgba(255, 215, 0, 0.95);
    padding: 0;
    margin: 0 0 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    overflow: hidden;
}

.bigtitle {
    font-size: 200%;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 2rem 6rem;
    font-family: "Inter UI", sans-serif;
}

header a {
    text-decoration: none;
}

a {
    color: inherit;
    font-weight: bold;
}

header > a > div {
    padding: 1rem 0;
    text-align: center;
    font-weight: normal;
}

a:hover > div, a:hover > span, article a:hover {
    opacity: 0.6;
}

nav {
    line-height: 1;
    background: #000;
    display: flex;
    padding: 0 0.75rem 0.75rem 0;
    flex-flow: wrap;
    justify-content: center;
}

nav > a {
    background: white;
    text-align: center;
    display: block;
    width: auto;
    padding: 0.75rem;
    margin: 0.75rem 0 0 0.75rem;
    border-radius: 0.75rem;
    font-size: 1.5rem;
}

* {
    transition: opacity 0.5s;
}

.current {
    background-color: gold;
}

article {
    background: rgba(255,255,255,0.85);
    border-radius: 1rem;
    overflow: hidden;
}

article p {
    margin: 1rem;
}

h1 {
    background: gold;
    color: black;
    font-weight: bold;
    padding: 1rem;
    margin: 0 0 1rem;
    font-size: 2rem;
}

h2 {
    background: gold;
    color: black;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: 1rem auto 1rem 0;
    font-size: 1.5rem;
    border-radius: 0 0.75rem 0.75rem 0;
    width: max-content;
}

.infobox {
    background: lightgray;
    border-radius: 0.75rem;
    overflow: hidden;
    float: right;
    margin: 0 1rem 1rem;
    width: 20rem;
}

.infobox h1 {
    padding: 0.5rem;
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}

.infobox img {
    background: url('/images/background.png');
    background-size: 1.5rem;
    display: block;
    width: 18rem;
    padding: 1rem;
    margin: 0;
}

.infobox h2 {
    padding: 0.3rem;
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 0;
    width: auto;
}

.infobox .details {
    display: grid;
    margin: 1rem;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.75rem;
    grid-template-columns: minmax(min-content, 7rem) auto;
    line-height: 1.4;
}

.infobox a {
    font-weight: inherit;
}

#spoilerclick {
    cursor: pointer;
}

#spoilerclick:hover span {
    opacity: 0.6;
}

.fa-arrow-down, .fa-arrow-up {
    font-size: 1rem;
}
