@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Yeon+Sung');

@import url('https://rsms.me/inter/inter-ui.css');

:root {
    background-image: url('/images/background.png');
    background-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6, .title {
    font-family: 'Yeon Sung', serif;
    font-weight: normal;
}

.korean {
    font-family: 'Do Hyeon', sans-serif;
}

.title {
    line-height: 1.2;
    background: rgba(255, 215, 0, 0.95);
    padding: 0;
    margin: 0 0 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    overflow: hidden;
}

.bigtitle {
    font-size: 200%;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 2rem 6rem;
    font-family: "Inter UI", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.title > a > div {
    padding: 1rem 0;
    text-align: center;
}

a:hover > div, a:hover > span {
    opacity: 0.6;
}

nav {
    line-height: 1;
    background: #000;
    display: flex;
    padding: 0 0.75rem 0.75rem 0;
    flex-flow: wrap;
    justify-content: center;
}

nav > a {
    background: white;
    text-align: center;
    display: block;
    width: auto;
    padding: 0.75rem;
    margin: 0.75rem 0 0 0.75rem;
    border-radius: 0.75rem;
    font-size: 1.5rem;
}

* {
    transition: opacity 0.5s;
}

.current {
    background-color: gold;
}
